.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: all 2000ms;
}

.fade-enter-done {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: all 2000ms;
}

.fade-exit-done {
  opacity: 0;
}